.header img{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 80px;
}
.header{
    text-align: center;

}
.header nav{
    background-color: black;
    line-height: 40px;
}
nav{
    text-align: left;
    padding-left: 30px;
}

nav a{
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    padding: 5px;
}

nav a:hover{
    background-color: rgba(47, 62, 79, 0.363);
    
}